{% extends "issue/other/index.html" %}
{% block page_title %}Introduction{% endblock %}
{% block other_content %}
		<p>
		And another issue is out.  Thanks to our authors and the editing team, this is our third issue this year.  Add to that our new website, and things are looking good!
		</p>
		<p>
		The e-books are temporarily unavailable.  We have a new website you may have noticed, and there's a lot of work involved, which means we're currently not providing everything we used to.  The website is generated from exported versions of the articles, extracted from Google Docs.  And we do have the same generation making the PDF and EPUB e-books we've been providing in the past, and that generation does work, but unfortunately the generated results are somewhat ugly.  When someone has found the time to sort that out, the e-books will be back.
		</p>
		<p>
		Are you really missing the e-books?  If so, you might be interested to know what <a href="https://bitbucket.org/rmtew/imaginary-realities">the source code</a> used to generate our website is open source.  You can help out with this, and other things you might think would improve this project, and send a pull request our way for your changes.  If you can't access the link provided, try again later, it's likely we've taken it offline while another issue is in the process of being published.
		</p>
		<p>
		Changes to the conditions we make for submitted articles are also happening.  Nothing major, this publication is always going to be non-commercial, and no-one is going to get paid a single dime for anything.  However, some of the submitted articles have been first drafts, and from now on we'll be asking authors to go over their articles and polish them in order to reduce some of the work required by the editors and proofreaders.
		</p>
		<p>
		If you're interested in writing an article on text-based gaming, please <a href="../request-for-content/index.html">get in touch</a>.  Most offers to write articles come from people who suggest ideas they could write about, and I say "They all sound great!  Write any of them and send it in!  Write two!"  Okay, I don't say "Write two!"  But you could, if you really wanted to.
		</p>
		<p>
		Anyway, enjoy the articles!
		</p>
		<p class="authorbio">Richard Tew</p>
{% endblock %}
