{% extends "issue/other/index.html" %}
{% block page_title %}Copyright{% endblock %}
{% block other_content %}
		  <p>
			This issue of Imaginary Realities is copyright © 2015 Jennifer Melchert, Matthew Sheahan, Richard Tew, Richard Woolcock.
		  </p>
		  <p>
			All authors retain copyright to their work, and have made their work available under the
			<a href="{{tp.license_link}}">{{tp.license_text}}</a> license, which allows us to publish it.
		  </p>
{% endblock %}
