{% extends "issue/base.html" %}
{% block page_content %}
	<div class="mainsection">
		<div class="mainheader"><a name="article-title">{% block page_title %}ARTICLE TITLE{% endblock %}</a></div>
		<div class="mainbody">
{% block page_subtitle %}{% endblock %}
{% block article_byline %}<p class="byline">
by {% block article_authors %}SOMEONES{% endblock %}, {% block article_date %}SOMEWHEN{% endblock %}
</p>{% endblock %}

{% block article_content %}
		<p>
			<b>ARTICLE CONTENT</b>
		</p>
{% endblock %}
		<p class="staffbio authorbio">{% block article_bio_content %}<b>AUTHOR BIO</b>{% endblock %}</p>
{% block article_references_content %}<h3>References</h3>{% endblock %}
		</div>
	</div>
{% if tp.target_is_online %}
	<div class="mainsection">
{% include 'snippet.disqus.comments.html' %}
	</div>
{% endif %}
{% endblock %}
