<!doctype html>
<html lang="en">
<head>
	<!-- This page is generated from templates -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="alternate" type="application/rss+xml" href="{{tp.rss_link}}" title="Imaginary Realities release feed"/>
	<link href="{{tp.link_prefix}}css/reset.css" rel="stylesheet" media="screen, handheld, print, projection"/>
	<link href="{{tp.link_prefix}}css/style.css" rel="stylesheet" media="screen, handheld, print, projection"/>
	<link href="{{tp.link_prefix}}css/style-desktop.css" rel="stylesheet" media="screen and (min-device-width:768px) and (min-width:768px), print, projection"/>
{% block extra_head_content %}{% endblock%}
	<script src="{{tp.link_prefix}}js/modernizr.js"></script>
  	
	<title>{{tp.website_title_text}} - {% block page_title %}{% endblock %}</title>
</head>
<body>
    <header>
	<div class="header">
		<div class="header-name"><a href="{{tp.homepage_link}}">IMAGINARY REALITIES</a></div>
		{% block header_subtitle %}{% endblock %}
	</div>
	<div class="headermenu">
{% block page_menu %}
		{% if tp.key != "website_index" %}<span class="headermenu-link"><a href="{{tp.homepage_link}}">Home</a></span>{% endif %}{% if tp.key != "website_contribute" %}<span class="headermenu-link"><a href="{{tp.contribute_link}}">Contribute An Article</a></span>{% endif %}{% if tp.key != "website_contact" %}<span class="headermenu-link"><a href="{{tp.contact_link}}">Contact Us</a></span>{% endif %}
{% endblock %}
	</div>
	</header>
	<main>
	<div class="main">
{% block page_content %}
	<div class="mainsection">
		<div class="mainheader"><a name="current-issue">{{tp.content_title}}</a></div>
		<div class="mainbody">
		{{tp.content}}
		</div>
	</div>
{% endblock %}
	</div>
	</main>
	<footer>
	    <div class="footer">
			<div class="section">
			  <a href="{{tp.copyright_link}}"><img class="mini" alt="Copyright symbol icon" src="{{tp.link_prefix}}images/copyright.svg"/><span>Copyright</span></a>
			  <a href="{{tp.contact_link}}"><img class="mini" alt="Email envelope icon" src="{{tp.link_prefix}}images/email.svg"/><span>Contact Us</span></a>
			</div>
			<div class="section">
			<a href="{{tp.rss_link}}"><img class="mini" alt="Standard RSS icon" src="{{tp.link_prefix}}images/rss.svg"/><span>RSS</span></a>
			<a href="{{tp.twitter_link}}"><img class="mini" src="{{tp.link_prefix}}images/twitter.svg"/><span>Twitter</span></a>
			<a href="{{tp.reddit_link}}"><img class="mini" alt="Reddit icon" src="{{tp.link_prefix}}images/reddit.svg"/><span>Reddit</span></a>
			</div>
		</div>
	</footer>

{% block floating_nav %}{% endblock %}
{% if False %}
    <script src="{{tp.js_jquery_link}}"></script>
    <script src="{{tp.link_prefix}}js/main.js"></script>
{% endif %}
{% if tp.target_is_online %}
{% include 'snippet.google.analytics.html' %}
{% endif %}
</body>
</html>
