{% extends "base.html" %}
{% block page_title %}
	Contribute
{% endblock %}
{% block page_content %}
	<div class="mainsection">
	  <div class="mainheader"><a name="contribute">Contribute</a></div>
	  <div class="mainbody">
		<p>
		If you have an idea for an article you would like to write for us, please <a href="{{tp.contact_link}}">contact us</a>.  If you don't have an idea, but would like
		to write an article and are not sure what to write about, that's also okay.
		</p>
		<p>
		Submissions must meet the following requirements:
		<p>
		<ul class="squarelist">
		<li>Articles must be within the range of 1000-4000 words.  Longer articles may be approved for serialisation, in order to reduce the workload of the editors and proofreaders.</li>
		<li>Articles must be original material, not yet published elsewhere.  The article should not be published elsewhere until a week has passed after we publish the issue containing it.</li>
		<li>Authors are required to license their article to us under the <a href="{{tp.license_link}}">By Attribution Non-Commercial Share-Alike</a> Creative Commons license.</li>
		</ul>
		<p>
		<!--<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/nz/"><img alt="By Attribution Non-Commercial Share-Alike icon" src="images/CC-BY-NC-SA-icon-80x15.png"/></a> Creative Commons license.-->
		The licensing requirement ensures that:
		</p>
		<ul class="squarelist">
		<li>You grant us the right to publish your article.</li>
		<li>We are not allowed to make money from it.</li>
		<li>We have to credit you as the author.</li>
		<li>We are not allowed to modify your work in any way that misrepresents you as the author.</li>
		</ul>
		<div class="rcaptionblock"><a href="http://drive.google.com"><img alt="Google Drive logo" src="images/googledrive.svg" width=40px height=40px/></a></div>
		<p>
		Your article will be added to our private Google Drive folder, which our editing/proofing team share. It will be shared back to you, and you will be able to see changes made to the document, and edit it to address comments made by the team.
		</p>
	</div>
	</div>
	<div class="mainsection">
	  <div class="mainheader"><a name="contribute">Covered Genres</a></div>
	  <div class="mainbody">
		<p>
		While we do not limit accepted articles to just the genres featured below, they are the main ones where text-based games are present, and it is not uncommon to find text-based games within them that overlap two of these.
		</p>
		<div class="aligned-examples smaller-text">
			<div class="aligned-example highlight"><img alt="Screenshot of a MUD being played" src="images/example-discworld-01-350x217.png"/><br/>MUD: <a href="http://discworld.imaginary.com:5678/">Discworld</a></div>
			<div class="aligned-example highlight"><img alt="Screenshot of a roguelike being played" src="images/example-brogue-01-350x217.png"/><br/>Roguelike: <a href="https://sites.google.com/site/broguegame/">Brogue</a></div>
			<div class="aligned-example highlight"><img alt="Screenshot of an interactive fiction game being played" src="images/example-lostpig-01-350x217.png"/><br/>Interactive Fiction: <a href="http://en.wikipedia.org/wiki/Lost_Pig">Lost Pig</a></div>
		</div>
	  </div>
	</div>
{% endblock %}
