{% extends "base.html" %}
{% block page_title %}
	Contact Information
{% endblock %}
{% block page_content %}
	<div class="mainsection">
	  <div class="mainheader"><a name="contribute">Contact Information</a></div>
	  <div class="mainbody">
		<p>You can contact <a href="mailto:richard.m.tew@gmail.com">Richard Tew</a> regarding any matter to do with Imaginary Realities.</p>
		<p>If you are considering contributing an article, it might be worth reading over the <a href="{{tp.contribute_link}}">contribution requirements</a> before offering to do so.</p>
	</div>
	</div>
{% endblock %}
