{% extends "base.html" %}
{% block page_title %}
	Copyright Information
{% endblock %}
{% block page_content %}
	<div class="mainsection">
	  <div class="mainheader"><a name="contribute">Copyright Information</a></div>
	  <div class="mainbody">
		<p>This web site is copyright © 2015 Richard Tew.</p>
		<p>To date, published issues are copyright © 2013-2015 Jennifer Melchert, Matthew Sheahan, Richard Tew, Richard Woolcock.</p>
		<p>All contributing authors retain copyright to their work, and have made their contributed work available under the <a href="{{tp.license_link}}">{{tp.license_text}}</a> license, so that we have the right to publish it.</p>
	</div>
	</div>
{% endblock %}
