﻿{% extends "base.html" %}
{% block page_title %}
	A Journal for Text-based Gaming
{% endblock %}
{% block page_content %}
	<div class="mainsection">
	  <div class="mainbody">
		<img alt="{{tp.sections.introduction.logo_text}}" src="{{tp.sections.introduction.logo_link}}" style="float: left; display: inline-block; padding-right: 15px"/>
		<p>Imaginary Realities is a journal focusing on text-based gaming, from <a href="http://en.wikipedia.org/wiki/MUD">mudding</a> and <a href="http://en.wikipedia.org/wiki/Roguelike">roguelikes</a>, to <a href="http://en.wikipedia.org/wiki/Interactive_fiction">interactive fiction</a> and beyond.</p>
		<p>
		Our goal is to publish issues every couple of months, where we collect together relevant articles written by people from the community, for the enjoyment and education of other people in the community.
		</p>
		<p>
		If you are interested in <a href="{{tp.contribute_link}}">contributing an article</a>, please <a href="{{tp.contact_link}}">get in touch</a>!
		</p>
	  </div>
	</div>
	<div class="mainsection">
		<div class="aligned-examples">
			<div class="aligned-example text">
			  <div class="mainheader"><a name="current-issue">{{tp.sections.latest_issue.title}}</a></div>
			  <div class="mainbody">
				<div class="current-issue-title">{{tp.sections.latest_issue.issue_title}}</div>
				<br/>
					<div class="table-base-wrapper indent-left">
					<table class="table-base table-issues">
						<thead>
						<tr>
							<td>Articles</td>
						</tr>
						</thead>
						<tbody>
{% for article in tp.sections.latest_issue.issue_articles %}
						<tr>
							<td><a class="row-link" href="{{article.link}}">{{article.title}}</a></td>
						</tr>
{% endfor %}
						</tbody>
					</table>
					</div>
					<br/>
					<div class="text-read-issue">
					<a class="action-button" href="{{tp.sections.latest_issue.read_link}}">{{tp.sections.latest_issue.read_text}}</a>
					</div>
			  </div>
			</div>
			<div class="aligned-example text">
			  <div class="mainheader"><a name="past-issues">{{tp.sections.back_issues.title}}</a></div>
			  <div class="mainbody">
			    <div class="table-base-wrapper">
				<table class="table-base table-issues">
					<thead>
					<tr>
						<td colspan=2>Issues</td>
					</tr>
					</thead>
					<tbody>
{% for issue in tp.sections.back_issues.issues %}
					<tr>
						<td><a class="row-link" href="{{issue.link}}">{{issue.volume_text}}</a></td>
						<td><a class="row-link" href="{{issue.link}}">{{issue.publication_year_text}}</a></td>
					</tr>
{% endfor %}
					</tbody>
				</table>
				</div>
				
				<br/>
				Or check out the <a href="http://imaginary-realities.disinterest.org/">older issues</a> from the previous period of publication which ended in 2001.
			  </div>
			</div>
			<div class="aligned-example text">
			  <div class="mainheader"><a name="featured-article">{{tp.sections.featured_article.title}}</a></div>
			  <div class="mainbody">
				<div class="featured-article-title">{{tp.sections.featured_article.article_title}}</div>
				<br/>
				{{tp.sections.featured_article.article_hype_text}}
				<br/><br/>
				<div class="quotetext">
					{{tp.sections.featured_article.article_quote_text}}
				</div>
				<div class="quoteattr">{{tp.sections.featured_article.article_authorname_text}}</div>
				<div class="text-read-issue">
				<br/>
				<a class="action-button" href="{{tp.sections.featured_article.read_link}}">{{tp.sections.featured_article.read_text}}</a>
				</div>
			  </div>
			</div>
			<div class="aligned-example text">
			  <div class="mainheader"><a name="recent-comments">{{tp.sections.recent_comments.title}}</a></div>
			  <div class="mainbody">
{% if tp.sections.recent_comments.is_enabled %}
				<table class="table-comments">
					<tbody>
{% for entry in tp.sections.recent_comments.entries %}
					<tr class="row-comment-link">
						<td colspan=2>
							<a href="{{entry.thread_url}}#comments">{{entry.thread_title}}</a>
						</td>
					</tr>
					<tr class="last-row">
						<td colspan=2>
							{{entry.user_name}} ({{entry.age_string}} ago): <span class="row-comment-text">{{entry.text}}</span></td>
						</td>
					</tr>
{% endfor %}
					</tbody>
				</table>
{% else %}
				{{tp.sections.recent_comments.content}}
{% endif %}
			  </div>
			</div>
		</div>
	</div>
{% endblock %}
