/* desktop CSS amendments */

.main {
  max-width: 748px; /* ipad (lowest common denominator) = 768px */
}

footer {
  max-width: 748px; /* ipad (lowest common denominator) = 768px */
}

.rcaptionblock {
  margin-left: 10px;
  margin-bottom: 10px;
}

.mainheader {
  text-align: left;
}

header .header-name * {
  font-size: 46px;
  line-height: 1.1em;
}

.table-toc thead td:nth-of-type(2) {
  display: table-cell;
}

.table-toc tbody td:nth-of-type(2) {
  display: table-cell;
}

.aligned-example.text {
  min-width: calc(98%/2);
  max-width: calc(98%/2);
}

.aligned-example.text:nth-of-type(2n+1) {
  clear: left;
  padding-right: 1%;
}

.aligned-example.text:nth-of-type(2n) {
  padding-left: 1%;
}

.aligned-example.highlight {
  max-width: 48%;
}

footer .section a img.mini {
  width: 16px;
  height: 16px;
}
