{% extends "issue/base.html" %}
{% block page_content %}
	<div class="mainsection">
		<div class="mainheader"><a name="article-title">{% block page_title %}{% endblock %}</a></div>
		<div class="mainbody">
		{% block other_content %}{% endblock %}
		</div>
	</div>
{% endblock %}
