{% extends "issue/other/index.html" %}
{% block page_title %}Introduction{% endblock %}
{% block other_content %}
		<p>
		What a pleasant surprise this must be for you?  An issue of Imaginary Realities unexpectedly appearing wherever it was you were looking for whatever else it was you were wanting.  But instead you got another issue, bonus!  I only wish we had more articles for you, not just the two great ones we do have. But that's merely an opportunity for you to step up and write one for us.
		</p>
		<p>
		If you're interested in writing an article on text-based gaming, please <a href="request-for-content/index.html">get in touch</a>.  Most offers to write articles come from people who suggest ideas they could write about, and I say "They all sound great!  Write any of them and send it in!  Write two!"  Okay, I don't say "Write two!"  But you could, if you really wanted to.
		</p>
		<p>
		Anyway, enjoy the articles!
		</p>
		<p class="authorbio">Richard Tew</p>
{% endblock %}
