{% extends "issue/other/index.html" %}
{% block page_title %}Request for content{% endblock %}
{% block other_content %}
		  <h3>Articles</h3>
		  <p>
			Would you like to write an article for the next issue of <span class="publicationtitle">Imaginary Realities</span>?
		  </p>
		  <p>
			Text-based gaming related articles are currently accepted on these topics:
		  </p>
		  <ul>
		   <li>Browser games</li>
		   <li>Gamebooks</li>
		   <li>Interactive fiction</li>
		   <li>MUDs</li>
		   <li>Roguelikes</li>
		  </ul>
		  <p>
			Articles should not have been previously published. If they have been previously published, they should be substantially revised to be made current, perhaps to address a changing situation, or even a changed viewpoint. Fiction will be accepted, as long as its relationship to the above topics can be determined by a reader.
		  </p>
		  <h3>Letters</h3>
		  <p>
			In the past, <span class="publicationtitle">Imaginary Realities</span> has featured a “Letters” section. If you have something you would like to write (perhaps to address past articles, or for whatever reason), please send it and we may publish it, if it is suitable.
		  </p>
		  <h3>Content Ideas</h3>
		  <p>
			If you have an idea for content you would like to see, please let us know, and maybe we can solicit someone to write about it.
		  </p>
		  <h3>Licensing</h3>
		  <p>
			Contributed content is required to be licensed by you under the
			<a href="{{tp.license_link}}">{{tp.license_text}}</a> license.
		  </p>
		  <h3>Contact Information</h3>
		  <p>
			Please contact Richard Tew (<a href="mailto:richard.m.tew@gmail.com">richard.m.tew@gmail.com</a>) for approval before proceeding to write an article, to ensure that your intended subject is suitable.
		  </p>
{% endblock %}
