{% extends "issue/article/index.html" %}
{% block page_title %}
	Dispelling the gloom
{% endblock %}
{% block article_authors %}Tomasz Gruca{% endblock %}
{% block article_date %}2nd June 2015{% endblock %}
{% block article_byline %}
	{{ super() }}
	“So, what was it like?”
{% endblock %}
{% block article_content %}
    <p>
This is a question I hear from time to time when I mention that I grew up in a communist state behind the Iron Curtain. - Or should I say “used to hear" — despite the fact that only about a generation passed since it all crumbled down, the Cold War era seems as distant as medieval times, truly ancient and confined to those strange "past centuries". Maybe it’s a function of time and place: flanked by one of the world’s biggest financial hubs on one side and uber-hip yupster’s enclave on the other (the quintessential "rotten West" of communist propaganda) in a once-futuristic year 2015, one might struggle to find people interested in anything other than here and now.
    </p>
    <p>
The question always left me a bit stumped. It’s an experience nigh-on impossible to describe in a sentence or two in a casual conversation. Partially because people’s expectations stem from descriptions of awful historical extremes, and my area at the time (the late 1970s) was lucky to avoid these, on a big scale at least. So I had no horror stories of gulags, bloodshed and paranoid surveillance to tell, stories that my compatriots from neighbouring states or other (mostly Stalinist) eras certainly would have. The other factor skewing my perception was age when you’re a kid, the grown-up problems do not concern you that much, however awful they might be.
    </p>
    <p>
Now, make no mistake, life in a communist state was quite awful — and that’s the word reserved for this system’s mildest incarnation, the one I experienced. Lack of freedom to leave the country (unless you’d fancy visiting another communist state) and overbearing censorship would be two major factors here. The more nebulous, but still depressingly real, fact that you’re not living in a sovereign country is another. The ever-present threat of "bad things" happening loomed large — after all, dissidents did die and go to prison, even in our "softer" version. And the Cold War’s nuclear threat might seem distant and bit unreal nowadays, but back then it was truly terrifying.
    </p>
    <p>
(There was also a more positive side to living in these times — there were lots of good things and ideas amongst the grimness, but that’s a completely different story...)
    </p>
    <p>
Still, while it all seems unbearable now, for a child or a teenager it didn’t qualify as such, at least not for these reasons. That is why, when trying to answer the original question with which I started this article, I would say "Well, it was… grey. And… surreal." Yep… grey and surreal, but mostly grey.
    </p>
    <p>
"Grey" is the word that sums up the communist era best for me — describing a state of mind more than the color itself, though there was plenty of that too. While as kids we were of course aware of major goings-on in the adult sphere, that was more of a high-level dark cloud, looming but distant. Disturbances in our immediate world were more mundane, caused by cramped living conditions, 
vodka, religious zealotry, unpredictable shortages of literally anything and other quirks of the commutopian life. But… the Greyness was more vague, yet ever-present, and manifested itself mostly in depressed adults, endless propaganda and military parades on the black-and-white television, oppressive concrete architecture, power-cut-induced twilight zones, and a sense of general helplessness and hopelessness — emotions which were not clearly understood but certainly felt. Contrasted with the beauty of the natural world and simple joys of life itself, it often resulted in a strange melancholy state.
    </p>
    <p>
Even so, as kids we did our best to battle the gloom. We could and did improvise and use our “local” toys and media, some of which were quite brilliant. Yet, because we were aware of the existence of the forbidden fruit — LEGO (never had any), Matchboxes (had one), Star Wars (saw it ten years after the premiere), Disney cartoons (on TV once a year for Christmas) — our playthings and heroic World War II TV dramas couldn’t compete in the long run, and perhaps even made things a bit more depressing. 
    </p>
    <p>
One thing that proved harder for the governing overseers to control was the written word. Sure enough, books in general were censored, and most of the exciting foreign titles were either banned or printed in extremely limited quantities, fetching crazy prices at second-hand market. I saw <span class="publicationtitle">The Lord of the Rings</span> mentioned in a rare TV program once, and instantly knew I just had to read it, but obtaining a copy was a quest in itself — it took me several years before I finally found a tattered volume in an obscure library. Literacy was very high, thanks to free and quite strict schools, and that, combined with 
the unavailability or poor quality of other media, made reading a very popular pastime.
    </p>
    <p>
It has been my obsession since a very early age — I burned through a few books per week, living in imaginary realities of Messrs Verne, Conan-Doyle, Dumas, Poe, May, Stevenson and countless others, reading with a torch under a blanket at night (if this sounds like it would start a fire, then what I call a torch is what you call a flashlight). I was 
once conned by my family into agreeing to an extended hospital stay on the premise that “they have a library there!” (They didn’t.) Books offered an escape hatch to fantasy worlds but also the hope that things could be different in the real one.
    </p>
    <p>
While reading was a great distraction, we loved games too, same as kids all over the world. But, again, this cultural sphere was rather limited in the late-Seventies Eastern Bloc. There were playing cards and board game staples like chess or checkers, but nothing too exciting (when I was about 10 I was given a Monopoly-clone set for Xmas — I thought it was a revelation). Despite sci-fi and fantasy being very popular literary genres, pen and paper role-playing games were virtually unknown; they only started gradually appearing in the mid-Eighties.
    </p>
    <p>
Yet, while lacking in all other fun departments, we had arcade games. It’s a mystery to me how they managed to seep through the Iron Curtain; these huge, costly machines must have been quite tricky to obtain and transport into the country. But there they were, appearing to us kids as complex alien artifacts, so totally outlandish when contrasted with our grey world. Found in back rooms and the corners of smoky bars, train stations or converted caravans, mostly surrounded by menacing grown-ups (to a 7-year-old anybody five years older is a grown-up). These places were often dangerous to visit, as you could easily be mugged for change — which you seldom had anyway, since there was no such thing as "pocket money".
    </p>
    <p>
Of course we went there anyway. The allure of this surreally wonderful medium was simply too strong. We would rarely play ourselves, mainly due to the aforementioned lack of fund, but watching was a joy too. At first the games were mostly pinball machines, with all their mechanical bleeping, blinking and popping wonders. Sometimes we were lucky enough to find a coin in a slot or a hasty traveler had a train to catch or somebody would forget he won an extra ball, and we would swoop in immediately and claim the prize. This was mostly short-lived fun, as our skills were obviously very poor, but it didn’t matter (and if you had a good friend with you, you would share a game playing a flipper each — probably not what designers had in mind).
    </p>
    <p>
Pinball was great fun — I even recall my DIY-genius uncle building a little book-sized home version from a bit of wood with holes drilled in, a few nails and flippers made of laundry pegs held by rubber bands. (Surprisingly, it worked! It was great fun too.) When the first proper video game machines appeared in arcades, though, pinball was instantly relegated to second tier. From then on, it was all about pixels. Still very rare and hard to approach, especially to a not-even-teenage child, they became a firm feature in our imaginations — though we would never even dare to dream about what was to come and we never knew what was happening in the parallel Western Universe. While our rulers appreciated science and tech very much, the news programs were mostly dedicated to our own local flavor, and reluctant to report on the Evil Westerner’s achievements — especially regarding “decadent” pleasure- and fun-enabling inventions.
    </p>
    <p>
And “over there”, the entertainment market was being revolutionised — Magnavox and Atari brought video games from arcades into people’s homes. In our world such a thing was still totally unimaginable — an arcade was a kind of shrine, with the bizarre alien machines put there by some higher force for unfathomable reasons. To have one at home? Incomprehensible.
    </p>
    <p>
This perception changed over time, though. The System couldn’t censor and control all the sources of information, and the political climate was slowly thawing — the Eighties, while still firmly communist, were much less darker and oppressive than the previous decades. The Biggest Brother had a new leader who talked of “openness” and “restructuring”. There was a lot going on in my area too — a certain dissident electrician scaled a shipyard’s fence in my town to join an illegal union strike, an act that eventually led to the ruling party’s collapse, ten years later. The Pope was visiting while the American president was issuing embargoes — all these groundbreaking events being still a distant noise in the kids’ world. Even the Chernobyl disaster was remembered mostly because of the awful taste of the liquid (Lugol's iodine) they forced us to drink at school, that and a supremely eerie atmosphere.
    </p>
    <p>
We had other, more pressing issues. Dealing with puberty, poverty, and the “greyness” — despite the fact that the Utopian State was crumbling, the gloom was still very much present. But there were new weapons with which to battle it appearing on the horizon — to a youth who first got the video game bug in these hard-to-approach arcades, glimpses of possibility showed here and there. Vague mentions in magazines, <span class="publicationtitle">Soviet Game &amp; Watch</span> bootleg clones (that a rich kid from school would rent for a day in some sort of barter deal), a friend’s dad’s amazing <span class="gametitle">Pong</span> clone with one working paddle, strange machines called "computers" seen at a Trade Expo… yes, the pixels were getting slowly closer and closer.
    </p>
    <p>
Then one day, a revelation. One cool Saturday my favourite science news program dedicated last 10 minutes to the new wonder in the tech world: microcomputers. Sir Clive’s finest creation featured heavily and my mind was bombarded with nearly unfathomable facts, like that a person could actually own one of these, have it in their room and play video games on it. They showed <span class="gametitle">Knight Lore</span> and <span class="gametitle">Mugsy</span> and I couldn’t believe my eyes. <span class="gametitle">Pong</span> and arcades, however brilliant, couldn’t even come close. These games were totally next level, creating true worlds beyond simple pew-pew of the arcade hits. They saved the best for the last — the <span class="gametitle">Hobbit </span> text adventure, with the tantalizing prospect of "talking to a computer", an interactive book of sorts that would have you read and respond at the same time. It was all a bit too much to take in, but I knew that now I had a goal in life: to obtain one of these machines and "talk to a computer".
    </p>
    <p>
For a kid with no income and whose most technically-advanced possession was a hand-me-down sometimes-working tape deck, it was quite a challenge — in fact, mission rather impossible — so it took many years before I finally managed to get one. It was a strange period; when others drew logos of their favourite bands on school notebooks, I did the same for micros. I read every available tidbit of information about video games, a subject that inevitably was becoming more and more popular. It started with a mention here and there, eventually reaching the point where dedicated sections in magazines appeared. Sometimes these mags printed game listings in BASIC, which I would try to analyze and imagine what it would be like to play. I went on trips to other towns just to see working models in expensive specialized shops for the wealthy. I also started learning English, mainly to decipher a few of the proper video game mags my friend owned. These tattered copies of <a class="publicationtitle" href="https://en.wikipedia.org/wiki/Your_Sinclair">Your Sinclair</a> and <a class="publicationtitle" href="https://en.wikipedia.org/wiki/ACE_(games_magazine)">A.C.E.</a> 
were my blueprints for the future.
    </p>
    <p>
After what seemed like eternity, and a rather depressing quest filled with scraping pennies from odd jobs and pestering relatives (and even non-relatives), my good-hearted auntie finally caved in and "lent" me the remaining sum. I became an owner of Timex 2048 / ZX Spectrum clone. These micros, along with Commodore/Atari/Amstrad models, were very popular in the Eastern Bloc thanks to mass piracy — since we lived in another reality, there were no pesky copyright restrictions (consoles with their hard-to-copy cartridges were virtually unknown).
    </p>
    <p>
Despite the fact that more than half a decade had passed since my first text-adventure encounter with that <span class="gametitle">Hobbit</span> program, I had not forgotten it and wanted to play it immediately. Unfortunately, obtaining programs for your machine was not easy; while piracy was normal (that term didn’t even exist at first, and we were just vaguely aware that people actually pay for software in the West), the availability was somewhat random. There were computer fairs where you could go and purchase some software from a dude with a micro set up on a table who would copy it to your tape for a fee, or sell you a "set" tape with some games on it. This would require hard cash, though (plus often a train trip to a faraway location) and after the machine itself, I could hardly even afford the tapes. So I had to rely on swapping with friends — but since it was such an expensive and rare hobby, this choice was severely limited.
    </p>
    <p>
Mostly, I’d get a tape with no description and no clue what was on it (and few programs managing to load anyway — audiocassette is not the most reliable medium for data). The ZX Spectrum library contains thousands of games of varying quality. Text adventures were surprisingly popular, despite the obvious language barrier, but not as popular as action-oriented games. That meant it took me some time before I managed to find <span class="gametitle">The Hobbit</span> itself, but in the meantime I encountered a few others…
    </p>
    <p>
By then a teenager, I knew much more about how video games and computers work in general — certainly more than my bug-eyed 8 year old self — and the initial fantasy of "talking to a computer" seemed a bit naive by then. Still, text adventures stood out as special amongst the mostly simplistic 8-bit video gaming fare, coming across as rather sophisticated and promising some sort of AI interaction. So, despite the language barrier and total lack of support — no Internet to look stuff up and very limited local literature — I was determined to delve into these mysterious domains.
    </p>
    <p>
My friend, whose father was a seaman (a profession that not only was well-paid but allowed access to the outside world), had a luxurious ZX Spectrum with a built-in tape recorder, and even some original tapes — a true rarity. One of them was <span class="gametitle">Seabase Delta</span>, a text adventure with graphics and great cover art. I was completely spellbound by it — a very good, atmospheric game but also simple enough to be playable using my (very) basic English. By "playable", I mean managing to move around a few initial locations and lo! even solving some puzzles — something I was immensely proud of, since it was all pretty much terra incognita, both the medium and language.
    </p>
    <p>
Eventually I got stuck, of course — the age old problem with adventure games. In my case, getting stuck was for good — there was no helpline to call, no mag to write to, no friend who could help. Game over.
    </p>
    <p>
It was quite tough, and discouraging. The allure of ASCII worlds proved greater than that, though, and I continued playing every interactive fiction title I could find. In some of these I didn’t manage to progress further than the first room due to obscure parsers or complex language used. For example, here’s an unforgettable (for me) quote from <span class="gametitle">Urban Upstart</span> describing the town of Scarthorpe where the action takes place: "Scarthorpe is the sort of town where even the dogs carry flick knives! Where there's a only one road in, and that's a one-way street! The sort of town where rebuilding means a new coat of paint, and where people queue up to queue up for a job!" Most of the humour here was lost on me, but in particular that "queue up to queue up" phrase caused me immense headache — for some reason I couldn’t find "queue" in a dictionary and started believing it was all a mistake or invented English.
    </p>
    <p>
I ploughed on, though, and sometimes it paid off. My English slowly improved and, as it is with puzzles, some solutions and ideas would come to me later on, after my subconscious mind was allowed to work on them in peace. One day I reread the aforementioned <span class="publicationtitle">Your Sinclairs</span> borrowed from my pal and, amazingly, found the answer to the <span class="gametitle">Seabase Delta</span> riddle that I was stumped on. It involved making a pancake to throw at a security camera, and while I hated the fact that I had to rely on a hint, I had to admit I’d never have figured it out myself. 
    </p>
    <p>
The one and only game I managed to finish completely on my own was <span class="gametitle">Valkyrie 17</span>. It was an amazing game, some sort of espionage mystery that I don’t remember much about, apart from being presented in a true noir fashion and having quite logical puzzles. 
    </p>
    <p>
Eventually I found <span class="gametitle">The Hobbit</span>, the original Holy Grail that started my obsession. Despite the passage of time and impossible expectations, I still loved it, even though I didn’t manage to get very far in the game itself. It wasn’t a straightforward romp like <span class="gametitle">Seabase Delta</span> but more complex fare, involving the passage of time, NPCs, and so on. These more nuanced adventures — <span class="gametitle">The Lord of the Rings</span>, which I had on the same tape, was another example — were still too much for me. Most of the stuff that would come naturally to a native speaker with more understanding of the genre was lost on me, and I was still mostly stumbling in the dark, though having heaps of fun nonetheless. Evenings spent learning English through text-adventure location descriptions and occasionally solving a puzzle were an unforgettable experience, and though I was into all sorts of video games, these were the most cherished.
    </p>
    <p>
Parsers were a biggest challenge for me, and since I didn’t quite know how they worked, I started building my own private text-adventure dictionary — by scanning a proper one and picking up verbs which I thought might be used by game designers. Later on I would try them in-game, brute-force style. It was a rather tedious process which yielded few results, and I think I gave up somewhere around the letter C — still, wish I had kept that notebook, saved as a token from that strange, surreal era.
    </p>
    <p>
Eventually I started slowly drifting away from interactive fiction; the times were changing in my little world, and in the big one too. I "grew up", which meant I wasn’t afraid to go into arcades alone any more, started noticing — and being noticed by — that strange, opposite sex, experienced hangovers, and all the other trappings of being a young adult. The Iron Curtain had just collapsed, and so did the communist governments in Russia and all our neighbouring states, replaced mostly by chaos and uncertainty. The Greyness was slowly banished by the loud and brash Nineties and all the grand things they had to offer.
    </p>
    <p>
I still played video games every day, but now on an Amiga, and with all its bells and whistles it was much easier to abandon the old text/parser territory. There were some of the grandest text adventures available on this platform — modern titles from Magnetic Scrolls and their compatriots, titles that I read about and was awed by — but without feelies and clues these proved only frustrating.
    </p>
    <p>
After the 3D appeared firmly on the scene with the arrival of <span class="gametitle">Wolfenstein</span> — accompanied by some epic CRPGs like the Gold Box games and the <span class="gametitle">Fallout</span> series on the other flank — I abandoned the text world completely. I remembered it very fondly over the next two decades, but the few times I came back — playing the excellent <span class="gametitle">Anchorage</span> or <span class="gametitle">Lurking Horror</span>, for example — were short-lived. The dazzling world of AAA games took over.
    </p>
    <p>
The fact that text gaming largely dropped off the radar over the years didn’t help, either. It happened to quite a few of the popular genres from the Golden Era — flight sims, point-and-click adventures, turn-based RPGs and such — but these never vanished as completely as interactive fiction did, and now are enjoying a revival of sorts. Sure, there were always things going on underground — <a href="http://www.ifcomp.org/">IFComp</a> and the <a href="http://ifarchive.org/">ifarchive.org</a> crews keeping the flame alight — but in the commercial world, text adventures ceased to exist.
    </p>
    <p>
This sad fact makes me realize even more how lucky I was to get infected with the ASCII virus back then, in this now-forgotten realm of communist utopia. It also seems that its lodgement in my neurons was much more resilient than I initially thought — even the glittering world of AAA polygons didn’t eradicate it completely. Over the last few years, dismayed by the state of modern gaming — casualization &amp; monetization being the worst offending factors — I started to gravitate slowly towards serious retro gaming again. That, combined with my gradual conversion to the roguelike mindset and its ASCII aesthetic leads me to an inevitable conclusion: it’s time to complete the circle and delve into the text adventure world again.
    </p>
    <p>
I felt my brain buzz with emotions, just like back in the day, when I recently started up <span class="gametitle">Border Zone</span> — the fact that its tagline reads "Action and international intrigue behind the Iron Curtain" surely a coincidence? I felt it again, a few months ago, when playing <span class="gametitle">Knight Orc</span> on my phone while traveling on a local train — a train in a country that’s being claimed as a part of this planet’s last communist superpower — but that must be another coincidence.
    </p>
    <p>
This time, though, I’m better prepared for the challenge ahead, with all the feelies, clues, covers and mags now just a click away. Hopefully there won’t be a need for a self-written dictionary, either. I feel dazzled and incredibly excited by the myriad games available, text adventures I never played yet and which surely will last me at least until another era, whatever that era might be. I’m quite certain that this excitement can’t be easily dismissed just as a severe case of that much maligned middle-aged gamer’s affliction known as “nostalgia”. While there’s surely an element of that, it is different, and I know that the real joy stems from the brilliance of the gameplay itself — the writing, the mood, the puzzles and the process itself. When it’s just you, a few lines of text, a blinking cursor and infinite possibilities, the imagination takes over and nothing can match or challenge that device.
    </p>
    <p>
I only have one regret — that I would love for others, especially the new generation, to experience the wonders of text adventuring, yet I’m not sure this could be possible in our day and age. The indie scene is booming, and the "retro" style is extremely fashionable, but this fashion doesn’t seem to extend to our forgotten ASCII worlds. How to entice modern gamers, who demand graphical tiles even in very trendy roguelike games and have countless distractions permeating their immediate world, into engaging with this medium is perhaps material for another article or discussion. Here’s hoping, though, that some at least will find their way into these text-based worlds of imagination and manage to get lost in them as much as I did in the days of Greyness.
    </p>
{% endblock %}
{% block article_bio_content %}
    Tomasz Gruca is currently slaving away as a bicycle courier, hoping to complete his transition into a wuxia swordsman sometime next year. More of his video game adventures can be found on <a class="publicationtitle" href="http://arkhammanor.com">arkhammanor.com</a>.
{% endblock %}
