{% extends "issue/other/index.html" %}
{% block page_title %}Introduction{% endblock %}
{% block other_content %}
  <p>
    And another issue of <span class="publicationtitle">Imaginary Realities</span> is done!
  </p>
  <p>
    DO NOT WORRY — we are keeping the ball rolling.  Or the balls are still in the air.
    Certainly one or the other is happening.
    This is definitely not a fly by night operation, and the first issue was not a chance sighting.
  </p>
  <p>
    The point is that while Pinkfish was sometimes able to churn out an issue a
    month back in the day, we however, are doing things a little differently.  Our
    submission period is around a month, or a little more.  Then the editors need to find time
    to collaborate with the authors to get the articles into a form both parties are happy with.
    Meanwhile I twiddle my thumbs sitting that one out, as I do not have the fancy book
    learnin' required.  But once they are done, web pages are made out of the Google Docs
    documents, and from there the web site, e-books and 
    <a href="http://en.wikipedia.org/wiki/Bob's_your_uncle">Robert</a> is your Father's brother.
    With the help of a text editor, and <a class="softwaretitle" href="http://calibre-ebook.com/">Calibre</a>.
  </p>
  <p>
    <a href="http://en.wikipedia.org/wiki/Wikipedia:Too_long;_didn't_read">TLDR</a> — We are
    working hard and the issues are done when they are done.  So if there
    is anyone out there that is looking forward to new issues, keep a stiff upper lip.
  </p>
  <p>
    If you are <a href="http://en.wiktionary.org/wiki/hum_and_haw">humming and hawing</a>
    over whether you should get in touch and offer to write an article, hesitate no longer.
    Almost all of the interested authors we had lined up for the first issue vanished in a
    puff of smoke.  There was a period of time when I was wondering if we would have enough
    articles to make up an issue.  Heaven forbid, you almost had an article from me to read.
    On that note, I give you with my unverified opinion that it is possible to
    continue watching cat-sploitation videos on the 
    <a href="http://youtube.com/user/blacklily8/videos?sort=dd&view=0&shelf_index=0">You tubes</a> at
    the same time as you pop over to our
    <a href="{{tp.link_prefix}}request-for-content/index.html">request for content</a>.
  </p>
  <p>
    We are also on the Twitter now.  If you wish to follow us and... well,
    to be honest I have no idea as I have never really used it.  But I can tell you there will be
    these tweet things announcing when we release new issues and soliciting articles.  The following
    button will take you to our cubicle in the magical place known as Twitter, where you can see the
    announcements, which the Twitter staff will later sell on for the use of to other commercial
    interests.  Enjoy!
    <div class="imgcenter">
     <a class="center" target="_blank" href="https://twitter.com/intent/user?screen_name=irjrnl"><img src="../images/twitter_follow.png"/></a>
    </div>
  </p>
  <p>
    And then there is our subreddit, where we currently have our official discussions.  Feel free to
    start posting about interesting parts of articles that tickle your fancy, or even posting links
    to where discussion is taking place elsewhere.
    <div class="imgcenter">
     <a class="center" target="_blank" href="http://www.reddit.com/r/imaginaryrealities/"><img src="../images/subreddit.png"/></a>
    </div>
  </p>
  <p>
    Thanks for reading!  Submit an article already!  And stop participating in the cat-sploitation!
  </p>
		<p class="authorbio">Richard Tew</p>
{% endblock %}
