{% extends "issue/article/index.html" %}
{% block page_title %}
	Saddle Up - A Personal Story about Riding Your Demon to Success
{% endblock %}
{% block article_authors %}Michael <span class="author-nick">Drakkos</span> Heron{% endblock %}
{% block article_date %}26th January 2014{% endblock %}
{% block article_content %}
  <p class="c4"><span>Like many of the people reading this</span><span class="c0">,</span> <span>I</span><span class=
  "c0">&#160;am obsessed by the development of my own little slice of the Internet.</span> <span class=
  "gametitle">Epitaph</span> <span class="c0">has been a long</span><span>-</span><span class="c0">term project for
  me</span><span>, on which</span> <span class="c0">I have greatly enjoyed working.</span> <span>I discussed
  t</span><span class="c0">he process of going from an empty MUD to an open MUD in the first issue of the
  resurrected</span> <span class="publicationtitle">Imaginary Realities</span><span class="c0">, so I won&#39;t hash over that
  again. Instead, I want to talk about one of the ways in which I made sure my private obsession didn&#39;t end up
  costing me professional opportunities.</span></p>

  <p class="c2"></p>

  <p class="c4"><span>The way</span><span class="c0">&#160;I came to be a MUD developer is
  typical</span><span>;</span><span class="c0">&#160;I encountered my first MUD in the first year of my degree program.
  It was a game called</span> <span class="gametitle">Valhalla MUD</span><span class="c0">, and while I can&#39;t remember
  anything about it now (except, for some reason, grinding deer for silver coins), it sparked a fascination that has
  lasted my entire life. When I tired of</span> <span class="gametitle">Valhalla</span> <span class="c0">(it was a
  pay</span><span>-</span><span class="c0">to</span><span>-</span><span class="c0">progress MUD as I recall, and I
  wasn&#39;t very keen on doing that as a poor, struggling student), I moved on to</span> <span class="gametitle">Discworld
  MUD,</span><span class="c0">&#160;</span><span>which</span> <span class="c0">an Internet friend told me about.
  We&#39;d been having a discussion about Terry Pratchett and I was enthusing about how much I enjoyed his books. She
  said</span> <span>&#8220;</span><span class="c0">Oh, I have something to show you
  then!</span><span>&#8221;</span></p>

  <p class="c4"><a name="h.yerevjn3mwzp" id="h.yerevjn3mwzp"></a><span class="c0">Deep in my addiction to</span>
  <span class="gametitle">Discworld</span><span class="c0">, I found out very early that the British telephone system
  wasn&#39;t great for allowing me to play to my heart&#39;s content</span><span>;</span><span class="c0">&#160;we were
  still paying per minute back then, even for local calls to an ISP. I found myself spending more and more time at
  university</span><span>,</span><span class="c0">&#160;staying late in the labs so I could satiate my lust for
  mudding. When I stepped up to become a developer for the game, most of my development work was done in the university
  labs.</span></p>

  <p class="c4"><span class="c0">People didn&#39;t realise at the time that I wasn&#39;t the studious, dedicated
  student that I seemed to be. The computing facilities there were for me to indulge my obsessions. Group work,
  assessments, all of those things were secondary to getting my developer projects done and dusted. I had friends who
  were similarly obsessed to begin with, but as they fell foul of the rules, found other things to do,</span>
  <span>or</span><span class="c0">&#160;moved on, I persisted.</span></p>

  <p class="c4"><span>Once upon a time, &#8220;MUD&#8221; was jokingly said to be an acronym for Multi-Undergraduate
  Destroyer. L</span><span class="c0">uckily, I managed to get through my degree without ever having spent much time
  focusing on it. A large part of that was taking on a role as creator</span><span>:</span><span class="c0">&#160;I
  learned everything that actually mattered about coding and software engineering from my years at the
  codeface.</span></p>

  <p class="c4"><span class="c0">A slightly different temperament, a slightly different set of personal circumstances,
  and I would have squandered one of the best opportunities of my life. That degree led to various teaching posts,
  eventually a research studentship, and then proper lecturerships in various universities. I&#39;m coming to the
  tail-end of one of those now, and moving on to a new lectureship in March. It&#39;s ironic that one of the reasons
  I&#39;ve managed to acquire a degree of free mobility within this very competitive sector is my obsession with</span>
  <span class="gametitle">Epitaph</span> <span class="c0">and the related work I have produced</span>
  <span>&#8220;</span><span class="c0">on the side</span><span>&#8221;</span><span class="c0">.</span></p>

  <p class="c4"><span class="c0">There&#39;s a great blog by Chester Bolingbroke (a pseudonym) called</span>
  <span class="c7 c0"><a class="publicationtitle" href="http://crpgaddict.blogspot.co.uk/">CRPG Addict</a></span><span class="c0">.
  In one of his early posts, he explained his life predicament</span><span>:</span><span class="c0">&#160;he can&#39;t
  stop playing RPGs. He is very earnest about the word &#39;addict&#39; there</span><span>;</span><span class=
  "c0">&#160;it&#39;s not hyperbole, it&#39;s something that has seriously caused him problems throughout his life. He
  tried to quit, tried to control it, but in the end understood that there are some demons you can&#39;t quiet. So
  instead he tried to make his obsession work for him by starting a blog and working those blog posts into the text of
  a book. He and Matt Barton (who does the excellent</span> <span class="c7 c0"><a class="publicationtitle" href=
  "http://www.youtube.com/user/blacklily8">Matt Chat</a></span><span class="c0">&#160;series of</span>
  <span>Y</span><span class="c0">ou</span><span>T</span><span class="c0">ube video</span><span>s</span><span class=
  "c0">) are probably the two most important</span> <span>&#8220;</span><span class="c0">digital
  historians</span><span>&#8221;</span><span class="c0">&#160;of computer games. A treasure trove of commentary,
  criticism and analysis are available because of throwing a saddle on a personal demon and riding it somewhere that
  matters.</span></p>

  <p class="c4"><span class="c0">MUDs for me have been a similar demon</span><span>;</span><span class=
  "c0">&#160;there&#39;s something seductive about the development of a game over which you have full control. Text
  opens up opportunities that graphical games don&#39;t because</span> <span>t</span><span class="c0">here is no limit
  except what you can imagine and what your technical abilities permit. In the end it doesn&#39;t</span> <span class=
  "c0 c1">really</span><span class="c0">&#160;matter if anyone begins playing it. People work on these things simply
  for the love of it.</span></p>

  <p class="c4"><span class="c0">I understood early on that I</span> <span>need</span><span class="c0">&#160;a creative
  outlet</span> <span>for</span> <span class="c0">my nervous energy. That creative outlet has changed from year to
  year</span><span>. Sometimes I write</span><span class="c0">&#160;books.</span><span>&#160;(Then give them away.
  Except for my novel, which is so bad that it outright kills 25% of the people who read it and is thus banned under
  the Geneva Conventions.)</span><span class="c0">&#160;Sometimes it&#39;s software
  projects</span><span>&#160;or</span><span class="c0">&#160;a blog. More regularly, it&#39;s been MUD development.
  But, as life moves on and priorities change, it becomes harder and harder to justify to yourself why you&#39;re doing
  it. Every hour I spend writing code for</span> <span class="gametitle">Epitaph</span> <span class="c0">is an hour I&#39;m
  not spending developing teaching material or writing papers. The latter two things directly influence my career
  prospects. It&#39;s important to have a project</span> <span>to</span><span class="c0">&#160;work on for fun without
  getting burnt out, but it&#39;s also important to work towards achieving your life goals.</span></p>

  <p class="c4"><span class="c0">So, I threw a saddle on my demon.</span></p>

  <p class="c4"><span class="c0">Instead of</span> <span class="gametitle">Epitaph</span> <span class="c0">being just my
  own personal obsession, I mentally recast it as a research project. My twin research areas are video games and
  accessibility, and specifically accessibility</span> <span class="c0">within</span> <span class="c0">video games.
  I&#39;ve written reasonably extensively on the subject of</span> <span class="gametitle">Epitaph</span><sup class=
  "c0"><a href="#ftnt1" name="ftnt_ref1" id="ftnt_ref1">[1]</a></sup><span>&#160;</span><span class="c0">and my
  interests in accessibility, and the last issue of</span> <span class="publicationtitle">Imaginary Realities</span><span class=
  "c0">&#160;had numerous views on that topic so I won&#39;t retread that ground.</span> <span class=
  "gametitle">Epitaph</span><span>&#160;</span><span class="c0">gives me an opportunity to actually research elements of
  accessibility in games that are very difficult for others to do. Much of this is inherently about the accessibility
  of text games of various kinds</span><span>,</span><sup><a href="#ftnt2" name="ftnt_ref2" id=
  "ftnt_ref2">[2]</a></sup><span>&#160;</span><span class="c0">but some of it is about how to marry accessibility to
  graphical gameplay. I&#39;ve been working on a graphical front-end for</span> <span class=
  "gametitle">Epitaph</span><span class="c0">. In the long run it will offer an opportunity to provide many different game
  interfaces to people, and that itself opens up a whole new range of professional opportunities.</span></p>

  <p class="c4"><span class="c0">Along with that, I have what very few games researchers have
  available</span><span>:</span><span class="c0">&#160;a game where the parameters of the environment can be changed as
  needed. Games researchers make do for a lot of things, looking to existing data sets or analysing behaviours in
  games</span> <span>such as</span><span class="c0">&#160;</span><span class="gametitle">World of
  Warcraft</span><span class="c0">. What they can&#39;t do is throw whole new systems into a game to see what happens.
  I not only have a</span> <span class="c0 c1">game</span><span class="c0">&#160;where these things can be researched,
  I also have a game</span> <span class="c0 c1">engine</span><span class="c0">&#160;that allows me to build
  self-contained environments where various concepts can be</span> <span>tried</span> <span class="c0">out. I have
  three or so small projects planned for this, each investigating issues of ethics, empathy and self-identification in
  game play. This in turn helps me develop</span> <span class="gametitle">Epitaph</span> <span class="c0">proper, because
  the functionality I need to explore these concepts can be folded back into the main game. It may not be development
  into exactly the areas that I&#39;d invest my time if I had no other considerations, but it&#39;s still a lot more
  satisfying than the work might otherwise be.</span></p>

  <p class="c4"><span class="c0">Likewise,</span> <span class="gametitle">Epitaph</span> <span class="c0">is a useful topic
  for teaching</span> <span>topics such as</span> <span class="c0">creative writing and critical analysis of texts.
  More than that, it&#39;s an example I can use in several of my teaching modules.</span> <span class=
  "gametitle">Epitaph</span> <span class="c0">is around 1.2 million lines of code and has a storied history that stretches
  back for decades through its association with the Discworld mudlib. It has code in it that&#39;s over twenty years
  old, working side by side with new code which leverages modern technologies. It is, in
  short</span><span>,</span><span class="c0">&#160;a fascinating software engineering case study. All of the things we
  teach as theory</span> <span>(</span><span class="c0">revision control, the importance of documentation, the trials
  of collaboration</span><span>)</span><span class="c0">&#160;don&#39;t have to be abstract any more. If I ever have a
  student who wants a few side programming projects to hone their skills &#8212; well, guess where I have an endless
  supply of them?</span></p>

  <p class="c4"><span class="c0">My to-do list of research projects is huge, and a lot of them involve using</span>
  <span class="gametitle">Epitaph</span> <span class="c0">as a springboard into an interesting topic. It&#39;s certainly
  not the only thing I do, but time I spend on</span> <span class="gametitle">Epitaph</span> <span class="c0">now is no
  longer</span> <span class="c0 c1">entirely</span><span class="c0">&#160;self-indulgent. It&#39;s actually growing
  into an important part of my professional life. I may never earn a living directly from</span> <span class=
  "gametitle">Epitaph</span><span class="c0">, but the living I earn and the future prospects I have are</span>
  <span>enhanced</span><span class="c0">&#160;by leverag</span><span>ing</span><span class="c0">&#160;the
  game.</span></p>

  <p class="c4"><span class="c0">Not everyone is going to find quite such a snug fit for their hobby in their real
  life, but there are always opportunities. They&#39;re not necessarily where your life is now, but perhaps where you
  would like your life to go. I&#39;ve always been a big believer that success in life comes from doing the job
  you</span> <span class="c0 c1">want</span><span class="c0">&#160;to have, not the one you&#39;re being paid to
  do.</span><span>&#160;</span><span class="c0">It&#39;s all about seeing where the opportunities lie and working out
  how to make the best use of the resources you&#39;re building.</span></p>

  <p class="c4"><span class="c0">I won&#39;t say that these kind of games will lead to success in game development as a
  career</span><span>&#160;</span><span class="c0">because game development is an incredibly over-subscribed
  niche.</span> <span>(This isn&#8217;t to say that it can&#8217;t happen; I know a few people in the games industry
  who credit at least part of the opportunities they were offered to the work they did on various
  MUDs.)</span><span class="c0">&#160;It&#39;s not necessarily about a direct link between what you&#39;re doing and
  what you&#39;d like to be doing. The real opportunities come from exploiting unexpected connections. If you&#39;re
  studying a subject, try to see if there are ways that you could combine</span> <span>&#8220;</span><span class=
  "c0">busywork</span><span>&#8221;</span><span class="c0">&#160;course responsibilities with progressing your
  projects</span><span>.</span><sup><a href="#ftnt3" name="ftnt_ref3" id=
  "ftnt_ref3">[3]</a></sup><span>&#160;</span><span class="c0">If you&#39;re handling teams of people, try using your
  MUD as a low-budget remote telepresence environment where people can quickly hack out simple projects as proof of
  concept. If there are no convenient ways of doing this, then consider what you&#39;re doing to be</span>
  <span>&#8220;</span><span class="c0">deep research</span><span>&#8221;</span><span class=
  "c0">&#160;and</span><span>&#160;write</span> <span class="c0">about it. If you&#39;re a player rather than a
  developer, document your experiences and let us read about them. Compare and contrast &#8212; build up your critical
  faculties and you&#39;ll be surprised how much easier and better other parts of your life become. Turn the expertise
  you&#39;re accumulating into something more</span><span>:</span><span class=
  "c0">&#160;synthesi</span><span>s</span><span class="c0">e it, editorialise it, and then package it up and let people
  at it.</span></p>

  <p class="c4"><span class="c0">The rebirth of</span> <span class="publicationtitle">Imaginary Realities</span><span class=
  "c0">&#160;in particular has given everyone an opportunity to turn a private obsession into something productive and
  get that something in front of people who are likely to be interested. You&#39;re bound to have done something
  genuinely worth talking about as a part of building or playing these games, so write an article about it. Eventually
  you&#39;ll find that you can put together thousands of words in readable order
  largely</span><span>&#160;</span><span class="c0">on</span><span>&#160;</span><span class="c0">cue, and then
  you&#39;ve got a real skill that will work in all aspects of your life.</span></p>

  <p class="c4"><span class="c0">I&#39;m not arguing here that time spent purely developing MUDs and the like is dead
  time. Hobbies are valuable even if the only person who gets any enjoyment out of them is you. All I&#39;m saying is:
  be aware of the</span> <span class="c0 c1">worth</span><span class="c0">&#160;of what you&#39;re doing.</span>
  <span>I</span><span class="c0">n my experience, almost everyone is an expert in</span> <span class=
  "c0 c1">something</span><span class="c0">,</span><sup class="c0"><a href="#ftnt4" name="ftnt_ref4" id=
  "ftnt_ref4">[4]</a></sup><span class="c0">&#160;and almost everyone has something interesting they could produce
  about it.</span><span class="c6">4</span><span class="c0">&#160;Your side project can be a lot more if you spend a
  little time considering where you could leverage its qualities for your professional betterment. You&#39;re doing
  something legitimately creative, and pouring hours into honing your ability to do it. You&#39;re an expert in your
  own little corner of the Internet, and you&#39;re very likely worth listening to as a result.</span></p>
{% endblock %}
{% block article_bio_content %}
	Drakkos (Michael Heron) is the lead developer of <a  href="http://epitaphonline.co.uk/">Epitaph</a>.
{% endblock %}
{% block article_references_content %}
    {{ super() }}
  <div>
    <p class="c5 c9"><a name="ftnt1">[1]</a> For
    example, <a class="c8" href=
    "http://epitaph.imaginary-realities.com/wp/?p=813">http://epitaph.imaginary-realities.com/wp/?p=813</a>;
    <a class="c8" href=
    "http://epitaph.imaginary-realities.com/wp/?p=594">http://epitaph.imaginary-realities.com/wp/?p=594</a>;
    and the Accessibility section of <a class="c8" href=
    "http://www.drakkos.co.uk/patches.c?type=consolidated&id=1.0.1">http://www.drakkos.co.uk/patches.c?type=consolidated&amp;id=1.0.1</a>.</p>
  </div>

  <div>
    <p class="c5"><a name="ftnt2">[2]</a><span class="c3">&#160;</span><span>Which are
    more common than people tend to realise &#8212; see my paper, &#8220;</span><span class="c7"><a class="c8" href=
    "http://tcjg.weebly.com/uploads/9/3/8/5/9385844/tcgj_21_candlemas_2013.pdf">Likely to be Eaten by a
    Grue</a></span><span>&#8221;.</span></p>
  </div>

  <div>
    <p class="c5 c9"><a name="ftnt3">[3]</a> Personally, I&#39;m
    always delighted when someone asks me if they can do &#8220;something real&#8221; instead of an arbitrary
    coursework exercise. Good teachers will absolutely work with you to ensure you get the most out of your
    education.</p>
  </div>

  <div>
    <p class="c5 c9"><a name="ftnt4">[4]</a> Almost everyone.</p>
  </div>
{% endblock %}
