<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- This page is generated from templates -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link href="{{tp.link_prefix}}css/reset.css" rel="stylesheet" media="screen, handheld, print, projection"/>
	<link href="{{tp.link_prefix}}css/style.css" rel="stylesheet" media="screen, handheld, print, projection"/>
	<link href="{{tp.link_prefix}}css/style-ebook.css" rel="stylesheet" media="screen, handheld, print, projection"/>
{% block extra_head_content %}{% endblock%}
  	
	<title>{{tp.website_title_text}} - {% block page_title %}{% endblock %}</title>
</head>
<body>
	<main>
	<div class="main">
{% block page_content %}
	<div class="mainsection">
		<div class="mainheader"><a name="current-issue">{{tp.content_title}}</a></div>
		<div class="mainbody">
		{{tp.content}}
		</div>
	</div>
{% endblock %}
	</div>
	</main>
</body>
</html>
